.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-between;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.features-list__item {
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.features-list__thumb {
  @extend %flex-center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}
.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}
