@media screen and (max-width: 767px) {
  .features-list__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-list__item {
    width: 354px;
    // width: calc((100%-4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  .features-list__item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-list__thumb {
  @extend %flex-center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}
.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}
