:root {
  --accent-color: #2196f3;
  --prime-text-color: #757575;
  --secondary-text-color: #212121;
  --btn-text-color: #ffffff;
  --hero-accent-color: #188ce8;
  --prime-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --prime-icon-color: #afb1b8;
  --prime-font-family: 'Roboto', sans-serif;
}
